<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="pom.beyondwalls.Utility.Listneers"></listener>
		<listener class-name="pom.beyondwalls.Utility.AnnotationTransformer"></listener>
	</listeners>
	<test thread-count="5" name="SanitySuiteOne">
		<classes>
			<class name="addNewProject.AddNewProject" />
			<class name="checkingFilters.FiltersonWalkinPage" />
			<class name="dsmActions.DsmActions" />
			<class name="userLogIn.UserLogin" />
			<class name="checkingFilters.FiltersonBookingPage" />
			<class name="cpUserRegistration.CPuserRegistration" />
			<class name="addBrokerageScheme.AddBrokerageScheme" />
			<class name="userApprovalsinCompany.UserInExistingCompany" />
			<class name="checkingFilters.FiltersonBrokeragePage" />
			<class name="addInternalUser.AddUsers" />
			<class name="checkingFilters.FiltersonProjectPage" />
			<class name="cphActions.CphActions" />
			<class name="basicCPFlow.SuiteOne" />
			<class name="userApprovalsinCompany.ApprovalofPartnerCompany" />
			<class name="rechargeWallet.RechargeWallet" />
		</classes>
	</test> <!-- SanitySuiteOne -->
</suite> <!-- Suite -->
